/*-----------table des matières------------*//* 

---Les dix techniques CSS---
---GLOBAL---
---Banniere toutes les pages---
---Barre de Navigation toutes les pages---
---menu-deroulant toutes les pages---
---Texte chapeau toutes les pages---
---Pieds de pages toutes les pages---
---Page d'accueil/Mission (index)---
---Page equipage et voyage---
---Page rencontres---
---Formulaires Telephone Rouge---
---Page episodes (Tableau)---

-----------------------------------------------*/

/*-----------Les dix techniques CSS-------------*//* 
[T1] VARIABLES DE LA CHARTE - définies une fois, utilisées partout* 
    - définies dans:root 
    - appliquées partout

[T2] TYPOGRAPHIE 
    - import Google Fonts 
    - définies dans :root
    - appliquées dans body{} et h1, h2, h3 {} 

[T3] SÉLECTEURS plusieurs sélecteurs 
    - descendant plusieurs (ex: dans la barre de navigation, la balise p de la boite de texte de la page active...)
        .boite-item-nav.page-active .nav-bar-texte p
        .droit .information
        **plusieurs autres identifiées dans le code
    
    - descendant, état: barre de navigation, menu déroulant, cartes... 
        .menu-deroulant a:hover
        .icone-menu-deroulant:hover 
        **plusieurs autres identifiées dans le code

    - structurel : une ligne sur deux dans la liste de la page d'accueil
        .texte-accueil-site ul li:nth-child(even) 

[T4] MODÈLE DE BOÎTE - boite des cartes dans la page équipage et voyage
    .carte

[T5] FLEXBOX - la bannière et la barre de navigation (toutes les pages
    .banniere
    .banniere-titre
    .nav-bar-lien 

[T6] GRID - Les modales dans la page équipage 
    .modale-boite
    .info-gauche
    .info-droite

[T7] MEDIA QUERY - le pied de page passe en une colonne
    .pied-page-premier

[T8] ÉTATS ET TRANSITIONS - Les items de la barre de navigation qui se levent et le texte qui apparait quand on survole  
    .boite-item-nav:hover .nav-bar-texte

[T9] PERSONNALISER BOOTSTRAP - Les boutons de sélection des différentes saisons dans la page épisode
    - Nos propriétés prennent le dessus puisque le css est lu après les propriétés de Bootstrap et 
      on a modifié directement avec les variables natives CSS de BS (custom properties)
        .btn.btn-primary 

[T10] TABLEAU STYLÉ - Le tableau des épisodes sur la page épisodes
    .tableau-episodes thead tr th
    .tableau-episodes thead tr.ligne-table-titre th
    .tableau-episodes tbody tr td
    .colonne1 
    .colonne2 
    .colonne3 
    .colonne4
*/



/*-------------GLOBAL---------------*/
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/* [T1] VARIABLES DE LA CHARTE*/ 
:root {
    --gal_primaire_fonce: #282322;
    --gal_primaire_pales: #dadada;
    --gal_bg_pale_75: rgb(218, 218, 218, 0.75);    
    --gal_second_moyen: #4B4E4F;
    --gal_bg_entetes_75: rgb(75, 78, 79, 0.75);
    --gal_second_bleu: #1C7898;
    --gal_bg_surligne: #648895;
    --gal_bg_surligne_50: rgb(100, 136, 149, 0.5);
    --gal_second_rouge: #6B0E18;
    
    
    --gal_noir: #010101;
    --gal_gris_pale: #909391;
    --gal_rouge_petant: #E23333;
    --gal_rouge_moyen: #AD1C23;
    --police-titre: 'Russo One', Verdana, sans-serif; 
    --police-texte: 'Michroma', Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

/* [T2] TYPOGRAPHIE */ 
body {
    background-image: url("./images/elements_site/bdrop2.jpg");
    background-repeat: no-repeat;  
    background-size:cover;
    background-position:top;
    background-color: var(--gal_noir);
    color: var(--gal_primaire_pales);
    font-family: var(--police-texte);
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/* [T2] TYPOGRAPHIE */ 
h1, h2, h3 { font-family: var(--police-titre); }

body.body-404 {
    background-image: url("./images/elements_site/nasa-hubble-space-telescope-Md5Chaod3Ig-unsplash.jpg");
    background-repeat: no-repeat;  
    background-size:cover;
    background-position:top;
    background-color: var(--gal_noir);
    color: var(--gal_primaire_pales);
    font-family: var(--police-texte);
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}


/*-------------Banniere toutes les pages---------------*/
/*[T5] FLEXBOX - */
.banniere {
    background-color: var(--gal_bg_entetes_75);
    color: var(--gal_primaire_pales);
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
/*[T5] FLEXBOX - */
.banniere-titre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-wrap: nowrap;
    font-size: clamp(1.75rem, 4vw, 3.5rem);
    
}

.banniere-titre.long-titre {
    font-size: clamp(1.50rem, 3vw, 3.5rem)
}

.entete-icone{
    margin: auto;
    height: clamp(40px, 4vw, 90px); 
    width: auto;
}
/*-----------Barre de Navigation toutes les pages-------------*/
/*[T5] FLEXBOX - */
.nav-bar-lien {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.nav-bar-icon {
    height: clamp(20px, 4vw, 60px); 
    margin: auto
}

.nav-bar-icon-bloc {
    transition: transform 0.5s ease;
}

/* [T3] SÉLECTEURS */
.boite-item-nav:hover .nav-bar-icon-bloc {
    transform: translateY(-16px);
}

/* [T3] SÉLECTEURS */
.boite-item-nav .nav-bar-texte {
    opacity: 0;
    color: var(--gal_primaire_pales);
    visibility: hidden;
    position: absolute;
    top:100%;
    transition: opacity 0.5s ease;
    z-index: 10;
    transform: translateY(-5px);
}

.nav-bar-texte.nbt-long {
    font-size: 15px;
    transform: translateY(-12px);
}

/* [T3] SÉLECTEURS */
/* [T8] ÉTATS ET TRANSITIONS - hover */
.boite-item-nav:hover .nav-bar-texte {
    opacity: 1;
    visibility: visible;  
}

/* [T3] SÉLECTEURS */
.boite-item-nav.page-active .nav-bar-icon-bloc {
    border: 2px solid var(--gal_bg_surligne_50);
    border-radius: 8px;
}

/* [T3] SÉLECTEURS */
.boite-item-nav.page-active .nav-bar-texte p {
background-color: var(--gal_bg_surligne_50);
border-radius: 8px;
}

.menu-image {
    height: 100px;
}

/*-----------menu-deroulant toutes les pages-------------*/

.icone-menu-deroulant {
    color: var(--gal_primaire_pales);
}
/* [T3] SÉLECTEURS */
.icone-menu-deroulant:hover {
    border-color: var(--gal_primaire_pales);
}

.menu-deroulant {
    font-size: 20px;
}

/* [T3] SÉLECTEURS*/
.menu-deroulant a:hover {
    background-color: var(--gal_bg_surligne);
}

.menu-item-actif {
    color: var(--gal_second_rouge);
    font-weight: bold;
}


/*-----------Texte chapeau toutes les pages-------------*/

.page-chapeau {
    color: var(--gal_second_bleu);    
}

/*-----------Pieds de pages toutes les pages-------------*/
/* [T7] MEDIA QUERY - le pied de page passe en une colonne */
@media (max-width: 575px) {
    .pied-page-premier {
        flex-direction: column;
        align-items: center;
    }
}

.lien-a-propos {
    cursor: pointer;
}


.pied-page{
    background-color: var(--gal_bg_entetes_75);
    font-family: var(--police-texte);
    font-size: 16px;
    color: var(--gal_primaire_pales);
}

/* [T3] SÉLECTEURS*/
.pied-page a{
    color: var(--gal_primaire_pales);
}

.pied-page-p {
    font-size: 13px;
    text-align: center;
}


/*-----------Page d'accueil/Mission (index)-------------*/
.texte-accueil-site {
    color: var(--gal_primaire_pales);
}

/* [T3] SÉLECTEURS - descendant, état, structurel */
.texte-accueil-site ul li:nth-child(even) {
   color: var(--gal_gris_pale);
}


/*-----------Page equipage et voyage-------------*/
/* [T4] MODÈLE DE BOÎTE */
.carte{
    background-color:var(--gal_bg_pale_75) ;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    margin: 20px;
    box-shadow: 0 4px 15px var(--gal_bg_surligne);
    cursor: pointer;
}
/* [T4] MODÈLE DE BOÎTE */
.image_equipage{
    width: 100px;
    height: 110px;
    border: 5px solide var(--gal_bg_surligne);
    border-radius: 12px;
    overflow: hidden;
    flex-shrink: 0;
    opacity: 100%;
}

/* [T3] SÉLECTEURS*/
.image_equipage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.information {
    flex: 1;
    text-align: left;
    padding-left: 8px;
}

/* [T3] SÉLECTEURS*/
.droit .information {
    text-align: left;
    padding-right: 30px;
    padding-left: 0;
}

/* [T3] SÉLECTEURS*/
.information h2{
    color: var(--gal_second_rouge); /* Rouge foncé pour les noms */
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 5px
}

/* [T3] SÉLECTEURS*/
.information p{
    color: var(--gal_second_rouge); /* Rouge foncé pour les noms */
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px
}

/* [T3] SÉLECTEURS*/
.information span{
    color: var(--gal_primaire_fonce);
}

/* [T4] MODÈLE DE BOÎTE */
.carte-bouton {
    background-color: var(--gal_bg_surligne);
    opacity: 100%;
    width: 100%;
    text-align: center;
    color: var(--gal_primaire_pales);
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    margin-top: 12px;
    font-size: 13px;
    font-weight: bold;
}

.modale {
    display:none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--gal_bg_pale_75);
    align-items: center;
    padding: 20px;
}

/* [T3] SÉLECTEURS */
.modale:target {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* [T4] MODÈLE DE BOÎTE */
/* [T6] GRID */
.modale-boite {
    position: relative;
    background-color: var(--gal_primaire_pales);
    border-radius: 16px ;
    padding: 26px;
    width: 90%;
    max-width: 640px;
    max-height: 100%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modale-fermer {
    position: absolute;
    top:15px;
    right: 20px;
    color: var(--gal_gris_pale);
    text-decoration: none;
    font-size: 30px;
    padding: 4px 8px;
    border-radius: 8px;
    transition: 0.5s;
}

/* [T3] SÉLECTEURS */
.modale-fermer:hover {
    color: var(--gal_primaire_pales);
    background-color: var(--gal_rouge_petant);
}

.modale-fond{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.photo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo img{
    width: 100%;
    max-width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 10px solid var(--gal_bg_surligne);
}

/* [T6] GRID */
.info-gauche{
    color: var(--gal_primaire_fonce);
    grid-column: 1;
    margin-top: 10px;
}

/* [T6] GRID */
.info-droite{
    color: var(--gal_primaire_fonce);
    grid-column: 2;
    grid-row: 1/ span 2 ;
}

.info-bas{
    color: var(--gal_primaire_fonce);
    grid-column: 1 / span 2;
    padding-top: 15px;
    margin-top: 10px;
}

.modale-boite p{
    font-size: 20px;
    line-height: 1.4;
    margin: 8px 0;
}

.titre{
    color: var(--gal_second_rouge); /* Rouge foncé pour les noms */
    font-size: 20px;
    font-weight: 500;
}

.nav-modale{
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
    padding-top: 15px ;
}

/* [T4] MODÈLE DE BOÎTE */
.btn-nav{
    display: block;
    background-color: var(--gal_second_bleu);
    color: var(--gal_second_rouge);
    padding:10px;
    margin-top: 15px;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
    opacity: 75%;
    width: 30%;
}


.structure-carte {
    display: grid;
    grid-template-columns: 250px 1fr;
}

/*-----------Page rencontres-------------*/
.carte-personnage {
    width: 280px; 
    min-width: 230px;
    background-color: var(--gal_bg_pale_75);
    box-shadow: 0 1PX 4PX var(--gal_bg_surligne); 
    transition: .25s;
}

/* [T3] SÉLECTEURS */
.carte-personnage:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 8px var(--gal_bg_surligne);
    transition: .25s; 
}

.carte-perso-image {
    background-color: var(--gal_bg_surligne);
}

/* [T3] SÉLECTEURS */
.carte-perso-image img {
    max-height: 250px;       
}

.carte-perso-libele{
    color: var(--gal_second_rouge);
}

.carte-perso-valeur{
    color: var(--gal_primaire_fonce);
}

.carte-perso-badge-hostile {
    background-color: var(--gal_rouge_moyen);
    color: var(--gal_gris_pale);
}

.carte-perso-badge-amical {
    background-color: var(--gal_second_bleu);
    color: var(--gal_gris_pale);
}

.modale-perso {
    background-color: var(--gal_gris_pale);
}

.modale-perso-image {
    width: 233px;
    max-width: 100%;
    background-color: var(--gal_bg_surligne);
}

.modal-perso-titre{
    color: var(--gal_primaire_fonce);
}


/*-----------Formulaires Telephone Rouge-------------*/
form {
    max-width: 600px;
    margin: 0 auto; 
}

.btn-tel {
    padding: 10px 24px;
    font-size: 15px;
    background-color: var(--gal_second_bleu);
    border: 2px solid var(--gal_bg_surligne);
    border-radius: 10px gal;
    box-shadow: 0 0 10px var(--gal_bg_surligne_50);
    white-space: nowrap;
}

/* [T3] SÉLECTEURS */
.btn-tel:hover {
    opacity: 0.9;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}

.container-telephone {
    max-width: 6000px;
    margin: 0 auto; 
}

.form-label {
    white-space: nowrap;
    font-size: 25px;
}

.form-check{
    font-size: 25px;
}


input:user-valid, select:user-valid, textarea:user-valid, .check-input:user-valid{
   border:3px solid green;
   background-color: var(--gal_primaire_pales);
}

input:user-invalid, select:user-invalid, textarea:user-invalid, .check-input:user-invalid{
   border:2px solid var(--gal_rouge_petant);
   background-color: var(--gal_primaire_pales);
}
input:user-valid + .validation::after, textarea:user-valid + .validation::after { content: "✓"; color: green; }
input:user-invalid + .validation::after, textarea:user-invalid + .validation::after { content: "x"; color: red; }

.validation{
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);

  font-size: 18px;
  pointer-events: none;
}


/*-----------Page episodes (Tableau)-------------*/

/* [T10] TABLEAU STYLÉ */
.tableau-episodes thead tr th {
    background-color: var(--gal_bg_surligne);
    color: var(--gal_primaire_pales);
}

/* [T10] TABLEAU STYLÉ */
/* [T3] SÉLECTEURS */
.tableau-episodes thead tr.ligne-table-titre th  {
    background-color: var(--gal_second_bleu);
    color: var(--gal_primaire_pales);
}    

/* [T10] TABLEAU STYLÉ */
/* [T3] SÉLECTEURS */
.tableau-episodes tbody tr td {
    background-color: var(--gal_bg_pale_75);
    color: var(--gal_primaire_fonce);
}

/* [T10] TABLEAU STYLÉ */
.colonne1{
    width: 10%
}

/* [T10] TABLEAU STYLÉ */
.colonne2{
    width: 30%
}

/* [T10] TABLEAU STYLÉ */
.colonne3{
    width: 15%
}

/* [T10] TABLEAU STYLÉ */
.colonne4{
    width: 45%
}

/* [T9] TABLEAU STYLÉ */
.btn.btn-primary {
    --bs-btn-color: var(--gal_primaire_pales);
    --bs-btn-bg: var(--gal_second_bleu) ;
    --bs-btn-border-color: var(--gal_bg_surligne);
    --bs-btn-hover-color: var(--gal_primaire_pales);
    --bs-btn-hover-bg: var(--gal_bg_surligne_50);
    --bs-btn-hover-border-color: var(--gal_bg_surligne);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--gal_primaire_pales);
    --bs-btn-active-bg: var(--gal_bg_surligne);
    --bs-btn-active-border-color: var(--gal_second_bleu);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-font-family: val(--police-texte) ;
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: .5rem;
}


/*@media(min-width: 700px) {
    .entete{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}*/
